.banner {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: var(--banner-bg);
  color: white;
  flex-direction: column;
}

.banner_overlay {
  background-image: url("../../public/images/glass_overlay02.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 24px;
  gap: 18px;
}

.name_tag {
  font-size: 28px;
}

.portrait {
  border-radius: 2px;
  border: 1.5px solid orange;
  outline: 1.5px solid black;
}

.education_tag {
  display: none;
}

.nav_wrapper {
  margin-top: -12px;
}

@media screen and (min-width: 600px) {
  .banner_head {
    padding: 10px 30px;
  }

  .name_tag {
    font-size: 42px;
  }

  .banner {
    flex-direction: column;
    border-radius: 25px 25px 0px 0px;
  }

  .banner_overlay {
    border-radius: 25px 25px 0px 0px;
  }

  .nav_wrapper {
    justify-self: end;
    margin-top: -24px;
  }

  .education_tag {
    display: inline;
    max-width: 256px;
  }
}

@media only screen and (min-width: 960px) {
  .banner {
    flex-direction: row;
  }

  .banner_head {
    align-items: start;
  }

  .nav_wrapper {
    align-self: end;
    margin-top: -58px;
  }
}
