.banner {
  display: flex;
  width: 100%;
  background: var(--banner-bg);
  color: white;
}

.banner_overlay {
  background-image: url("../../public/images/glass_overlay02.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner_head {
  padding: 6px 24px;
  gap: 18px;
  display: flex;
  flex-direction: row;
}

.name_tag {
  font-size: 28px;
}

.portrait {
  border-radius: 2px;
  border: 1.5px solid orange;
  outline: 1.5px solid black;
}

@media only screen and (max-width: 500px) {
  .banner {
    justify-content: center;
    flex-direction: column;
  }

  .banner_head {
    align-items: center;
  }

  .nav_wrapper {
    justify-self: center;
  }

  .education_tag {
    display: none;
  }
}

@media only screen and (min-width: 501px) {
  .banner {
    flex-direction: column;
    border-radius: 25px 25px 0px 0px;
  }

  .banner_overlay {
    border-radius: 25px 25px 0px 0px;
  }

  .name_tag {
    white-space: nowrap;
  }

  .nav_wrapper {
    justify-self: center;
  }
}

@media screen and (min-width: 600px) {
  .banner_head {
    padding: 10px 30px;
  }
  .name_tag {
    font-size: 42px;
  }
}

@media only screen and (min-width: 960px) {
  .banner {
    flex-direction: row;
  }

  .nav_wrapper {
    align-self: flex-end;
  }
}
