@media only screen and (max-width: 500px) {
  .contact_form {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 501px) {
  .contact_form {
    place-self: center;
    width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .contact_form {
    place-self: start;
  }
}
