.footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
  background: var(--footer-bg);
}

.footer_links {
  display: flex;
  gap: 10px;
}

.copyright_tag {
  font-weight: 200;
}
