.breadcrumb_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.5);
}

.link_text {
  display: none;
}

@media only screen and (min-width: 600px) {
  .link_text {
    display: block;
  }
}
