:root {
  --page-color: linear-gradient(to bottom, navy, blue, lightblue);
  --banner-bg: linear-gradient(
    to top left,
    rgba(255, 255, 255, 0.8),
    rgba(88, 155, 255, 0.6),
    rgba(0, 93, 232, 0.5),
    rgba(0, 36, 91, 1)
  );
  --nav-bg: linear-gradient(to bottom, #1f1f1f 50%, #000000 50%);
  --location-bar-bg: linear-gradient(
    to bottom,
    rgb(58, 127, 230) 50%,
    rgb(43, 111, 212) 50%
  );
  --content-bg: linear-gradient(to bottom, #003482c9, #0048b5bd, #3081fcba);
  --marquee-bg: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  --footer-bg: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(255, 255, 255, 0.75) 2%,
    rgba(255, 255, 255, 0.6) 4%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.4) 100%
  );
  --breadcrumb-bar-bg: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(88, 69, 255, 0.75) 10%,
    rgba(1, 3, 147, 0.75) 96%,
    rgb(0, 0, 0) 98%,
    rgba(255, 255, 255, 0.75) 100%
  );
  --dual-orange: linear-gradient(to bottom, rgb(255, 184, 53) 50%, orange 50%);
  --dual-orange-hover: linear-gradient(
    to bottom,
    rgb(255, 197, 88) 50%,
    rgb(250, 184, 61) 50%
  );
  --container-work-expr: linear-gradient(
    to bottom,
    rgba(63, 251, 220, 0.7) 0%,
    rgba(70, 207, 252, 0.8) 100%
  );
  --container-white: rgba(255, 255, 255, 0.1);
}
