html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-one {
  background-image: url("../public/images/frutiger_aero.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.bg-two {
  background-color: black;
}

.bg-fade {
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0%));
  height: 40vh;
  margin-top: -40vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page {
  min-height: 100vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  animation: fadeInOpacity 1s;
}

@media only screen and (min-width: 501px) {
  .page {
    margin-top: 50px;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    box-shadow: 0px 0px 10px 1px black;
    /*
    background-image: url("../public/images/glass_overlay_tall.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    */
  }

  .page-content {
    border-top: 2px solid orange;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    border-radius: 25px 25px 0px 0px;
  }
}

@media only screen and (min-width: 960px) {
  .page {
    width: 960px;
  }
}

.container-work-expr {
  display: flex;
  flex-direction: column;
  margin: 6px;
  margin-top: 16px;
  padding: 6px;
  background-color: rgba(0, 255, 174, 0.6);
  background-image: url("../public/images/glass_overlay02.png");
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border: 1px solid gray;
  box-shadow: 0px 0px 15px 0px black;
}

.container-work-expr span {
  padding-left: 42px;
}

.container-edu {
  display: flex;
  flex-direction: column;
  margin: 6px;
  margin-top: 16px;
  padding: 6px;
  background-color: rgba(0, 255, 242, 0.2);
  background-image: url("../public/images/glass_overlay02.png");
  border: 1px solid gray;
  box-shadow: 0px 0px 15px 0px black;
}
