html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/images/wallpaper.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page {
  min-height: 100vh;
}

@media only screen and (min-width: 960px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
}
