html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-one {
  background-image: url("../public/images/frutiger_aero.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.bg-two {
  background-color: black;
}

.bg-fade {
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0%));
  height: 40vh;
  margin-top: -40vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page {
  min-height: 100vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-content {
  display: flex;
  flex-direction: column;
}

.page-main {
  animation: fadeInOpacity 1s;
}

@media only screen and (min-width: 501px) {
  .page {
    margin-top: 50px;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    box-shadow: 0px 0px 10px 1px black;
    background-image: url("../public/images/side_highlight.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .page-content {
    border-top: 2px solid orange;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    border-radius: 25px 25px 0px 0px;
  }
}

@media only screen and (min-width: 960px) {
  .page {
    width: 960px;
  }
}

.container-work-expr {
  display: flex;
  flex-direction: column;
  margin: 6px;
  margin-top: 16px;
  padding: 6px;
  background-color: rgba(0, 255, 174, 0.6);
  background-image: url("../public/images/glass_overlay02.png");
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border: 1px solid gray;
  backdrop-filter: blur(2px);
}

.container-work-expr span {
  padding-left: 42px;
}

.container-edu {
  display: flex;
  flex-direction: column;
  margin: 6px;
  margin-top: 16px;
  padding: 6px;
  background-color: rgba(0, 255, 242, 0.2);
  background-image: url("../public/images/glass_overlay02.png");
  border: 1px solid gray;
  backdrop-filter: blur(2px);
}

.container-edu:hover,
.container-work-expr:hover {
  transform: scale(102%);
  transition: 200ms;
  box-shadow: 0px 0px 15px 0px black;
}

.container-showcase {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  row-gap: 24px;
  column-gap: 12px;
}

@media only screen and (min-width: 600px) {
  .container-showcase {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start;
  }
}

@media only screen and (min-width: 800px) {
  .container-showcase {
    grid-template-columns: 30% 30% 30%;
  }

  .container-showcase-item:hover {
    transform: scale(1.05);
    transition: 100ms;
    box-shadow: 0px 0px 6px 0px black;
  }
}

.container-showcase-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 6px;
  backdrop-filter: blur(2px);
  background-color: var(--container-white);
}

.container-showcase-item p {
  margin: 2px;
  text-justify: inter-word;
}

.container-showcase-item h4 {
  font-weight: bold;
}

.wrapper-showcase-button {
  display: flex;
  flex: 1;
  align-items: flex-end;
  margin-top: 16px;
}

.wrapper-showcase-button Button {
  width: 100%;
}
