.marquee_container {
  background: var(--marquee-bg);
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  font-size: large;
}

.marquee_fade_left {
  width: 80px;
  height: 100%;
  place-self: start;
  background: linear-gradient(to right, black, transparent);
}

.marquee_fade_right {
  width: 80px;
  height: 100%;
  place-self: end;
  background: linear-gradient(to left, white, transparent);
}
