.marquee_container {
  background: var(--marquee-bg);
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  font-size: large;
}
