.container_content {
  display: flex;
  flex-direction: column;
  background: var(--content-bg);
  color: white;
}

@media only screen and (min-width: 1800px) {
  .container_content {
    min-height: 100vh;
  }
}
