.container_marquee {
  background-image: url("../../public/images/vista.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  font-size: large;
  border-bottom: 2px solid black;
  text-shadow: var(--text-outlined-white);
}
