:root {
  --background: #ffffff;
  --foreground: #171717;
  --page-color: linear-gradient(to bottom, navy, blue, lightblue);
  --banner-bg: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    rgba(0, 36, 91, 0.9),
    rgba(0, 93, 232, 0.8)
  );
  --nav-bg: linear-gradient(to bottom, #1f1f1f 50%, #000000 50%);
  --location-bar-bg: linear-gradient(
    to bottom,
    rgb(58, 127, 230) 50%,
    rgb(43, 111, 212) 50%
  );
  --content-bg: linear-gradient(to bottom, #003482c9, #0048b5bd, #3081fcba);
  --marquee-bg: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  --dual-dark: linear-gradient(to bottom, #1f1f1f 50%, #000000 50%);
  --dual-orange: linear-gradient(to bottom, rgb(255, 184, 53) 50%, orange 50%);
  --dual-orange-hover: linear-gradient(
    to bottom,
    rgb(255, 197, 88) 50%,
    rgb(250, 184, 61) 50%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("_images/wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page {
  min-height: 100vh;
}

@media only screen and (min-width: 960px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
}
