.banner {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  width: 100%;
  background-color: blue;
  color: white;
}

.portrait {
  border-radius: 20px;
}

@media only screen and (min-width: 500px) {
  .portrait {
    width: 128px;
    height: auto;
  }
}
