.footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
  background: var(--dual-dark);
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer_links {
  display: flex;
  gap: 10px;
}

.copyright_tag {
  font-weight: 200;
}
