.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  color: white;
  background: var(--footer-bg);
  border-top: 1.5px solid black;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer_links {
  display: flex;
  gap: 4px;
}

.copyright_tag {
  font-weight: 200;
}
