.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.links_wrapper {
  place-self: end;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkbox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--location-bar-bg);
  border-radius: 10px 10px 0px 0px;
}

.linkbox:hover {
  transition: 300ms;
  background: var(--dual-orange-hover);
}

.linkbox_current {
  background: var(--dual-orange);
}

.linkbox a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.linkbox:hover a,
.linkbox_current a {
  transition: 100ms;
  color: black;
}

@media only screen and (max-width: 500px) {
  .linkbox {
    min-width: 80px;
  }

  .links_wrapper {
    width: 100%;
    gap: 10px;
  }
}

@media only screen and (min-width: 501px) {
  .linkbox {
    min-width: 90px;
  }

  .links_wrapper {
    width: 500px;
    gap: 10px;
  }
}
