.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: var(--nav-bg);
}

.links_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkbox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.linkbox:hover,
.linkbox_current {
  transition: 300ms;
  border-bottom: 2px solid orange;
}

.linkbox a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  text-decoration: none;
}

.linkbox:hover a,
.linkbox_current a {
  transition: 100ms;
  color: orange;
}

@media only screen and (max-width: 500px) {
  .linkbox {
    min-width: 60px;
  }
  .links_wrapper {
    width: 100%;
    gap: 40px;
  }
}

@media only screen and (min-width: 501px) {
  .linkbox {
    min-width: 80px;
  }
  .links_wrapper {
    width: 500px;
    gap: 50px;
  }
}
