.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
  font-size: 20px;
}

.links_wrapper {
  place-self: end;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.linkbox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--location-bar-bg);
  border-top: 2px solid orange;
  border-left: 2px solid orange;
  border-right: 2px solid orange;
  border-radius: 2px 2px 0px 0px;
}

.linkbox:hover {
  background: var(--dual-orange-hover);
}

.linkbox_current {
  background: var(--dual-orange);
}

.linkbox:hover,
.linkbox_current {
  border-top: 2px solid rgb(0, 128, 255);
  border-left: 2px solid rgb(0, 128, 255);
  border-right: 2px solid rgb(0, 128, 255);
}

.linkbox a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 500;
  min-width: 76px;
}

.linkbox:hover a,
.linkbox_current a {
  transition: 100ms;
  text-shadow: 1px 2px 0px black;
}

@media only screen and (min-width: 600px) {
  .linkbox {
    min-width: 90px;
  }

  .links_wrapper {
    width: 500px;
    gap: 10px;
    justify-content: end;
    margin-right: 8px;
  }

  .nav {
    justify-content: end;
  }
}
