.container_featured_card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0px;
  margin: 0px 0px 6px 0px;
  border: 1px solid var(--secondary);
  border-radius: 2px;
  background: var(--primary-gradient);
  text-shadow: 1px 1px black;
}

@media screen and (min-width: 600px) {
  .container_featured_card {
    font-size: small;
  }

  .container_featured_card:hover {
    transform: scale(102%);
    transition: 100ms;
    background: var(--primary-gradient-hover);
    box-shadow: 0px 0px 6px 0px black;
  }
}

@media screen and (min-width: 800px) {
  .container_featured_card {
    width: 300px;
    font-size: medium;
  }
}

.featured_image_wrapper {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 128px;
  border-right: 4px solid var(--secondary);
}
