.banner {
  display: flex;
  width: 100%;
  background: var(--banner-bg);
  color: white;
}

.banner_head {
  padding: 10px 30px;
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.portrait {
  border-radius: 30px;
  border: 2px solid orange;
  box-shadow: 0px 0px 10px 0.5px black;
}

@media only screen and (max-width: 500px) {
  .banner {
    justify-content: center;
    flex-direction: column;
  }

  .nav_wrapper {
    justify-self: center;
  }
}

@media only screen and (min-width: 501px) {
  .banner {
    flex-direction: column;
    border-radius: 25px 25px 0px 0px;
  }

  .name_tag {
    white-space: nowrap;
  }

  .nav_wrapper {
    justify-self: center;
  }
}

@media only screen and (min-width: 800px) {
  .banner {
    flex-direction: row;
  }

  .nav_wrapper {
    align-self: flex-end;
  }
}
